@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "hk-grotesk";
    src: local("hk-grotesk"), url("./fonts/hk/HKGrotesk-Light.ttf");
    font-weight: 200;
}

@font-face {
    font-family: "hk-grotesk";
    src: local("hk-grotesk"), url("./fonts/hk/HKGrotesk-Medium.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "hk-grotesk";
    src: local("hk-grotesk"), url("./fonts/hk/HKGrotesk-Bold.ttf");
    font-weight: 600;
}

